<div class="container">
  <div class="row mt-3">


    <div class="col-md-3">
      <div class="panel panel-primary bg-green p-3 text-center">
        <div class="panel-heading">
          <!-- <h3 class="panel-title">User list</h3> -->
          <h4>Chat with</h4>
        </div>
        <div class="panel-body">
          <div>
            <% @profiles.each do |profile| %>
              <div id="profile-chat-list-item"><%= link_to "#{profile.username}", conversations_path(user_id: profile.user_id), remote: true, method: :post %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div id="conversations-list">

        <% @conversations.each do |conversation| %>
          <div class="mt-3 mb-3 p-4 rounded">
            <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
          </div>
        <% end %>

      </div>
    </div>


  </div>
</div>
