<!-- displays all book listings for a specific user -->

<!-- start by displaying all books listed by CURRENT USER -->
<% @books.each do |book| %>
  <% if book.user.id == current_user.id %>
    <hr>
    <p>
      <%= book.title %>
    </p>
    <p>
      Your price: <%= book.price %>
    </p>
    <p>
      RRP: <%= book.recommended_retail_price %>
    </p>
    <p>
      <%= link_to 'View details', book, target: '_blank' %>
    </p>
    <hr>
  <% end %>
<% end %>
<!-- FIXME: when click on button on user's profile, view only the books listed by THAT user -->
