<div class="container">
  <div class="row m-5">
    <div class="col text-center font-heading">
      <h1>Editing Profile</h1>
    </div>
  </div>

  <%= render 'form_edit', profile: @profile %>

  <%#= link_to 'Show', @profile %>
</div>
