@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans');

// font-family: 'Gentium Book Basic', serif;
// font-family: 'Open Sans', sans-serif;

* {
 box-sizing: border-box;
}

.width-large {
  width: 98%;
}

body {
  background-color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
}

.bg-white {
  background-color: #FFF;
}

.bg-green {
  background-color: #49DA90;
}

.font-white {
  color: white;
}

.btn-blue {
  background-color: #00BFD8;
}

.font-heading {
  font-family: 'Gentium Book Basic', serif;
}

.font-body {
  font-family: 'Open Sans', sans-serif;
}

.font-medium {
  font-size: 1.5em;
}

.font-medium {
  font-size: 1.2em;
}

.border-grey {
  margin: 10% auto;
  padding: 5%;
  border: 1px solid lightgrey;
}

/********** NAVBAR **********/

.logo{
  max-width: 50px;
}

.navbar {
  background-color: #611D59;
}

/********** HOMEPAGE **********/

.book-overview-image {
  max-width: 90%;
}

.your-price {
  font-size: 1.2em;
}

.rrp {
  text-decoration: line-through;
}

/********** PROFILE **********/
.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}
